* {
    margin: 0;
    padding: 0%;
}
body {
    background-color: #9d0208;
    text-align: center;
}
.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.game {
    height: 60vmin;
    max-width: 60vmin; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6);
    font-size: 8vmin;
    color: black;
    background-color: #ffffc7;
}
#reset-btn { 
    height: 10vmin;
    width: 23vmin;
    text-align: center;
    background-color:grey;
    color: black;
    font-size: 3vmin;
    
    border-radius: 1rem;
    border: none;
}
#new-btn {
 height: 10vmin;
    width: 23vmin;
    text-align: center;
    background-color:grey;
    color: black;
    font-size: 3vmin;
    
    border-radius: 1rem;
    border: none;   
}
#msg {
    color: black;
    font-size: 8vmin;
}
.msg-container {
    height: 35vmin;
    align-items: center;
    text-align: center;
    gap: 4rem;;
}
.hide {
 display: none;   
}